!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title lithub
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = stylesheet_link_tag :application
      = javascript_include_tag :application
      = yield :action_specific_javascript
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar         
          %a.brand{:href => "#"} Doc Blaster
          - if user_signed_in? 
            = render "layouts/header"
            #logout-link.nav
              = link_to 'Logout', destroy_user_session_path, :method => :delete
    .container
      = render "layouts/bootstrap_flash_messages"
      = yield
